/* Add a low saturation color */
:root {
  --low-saturation-color: #6d4848b7;
}

/* stylize the buttons */
#page .btn {
  margin: 0 2px;
}

/* center the grid */
#page .grid {
  margin: 0 auto;
}

label {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

/* style the navbar and footer */
.navbar,
.footer {
  background-color: var(--low-saturation-color);
}